{% extends "base.html" %}

{% block content %}

<form action="/search" method="GET">
    <div class="search-container">
        <input id="search_term" type="text" placeholder="Search...">
        <button type="submit" class="search-btn">Search</button>        
    </div>      
</form>

<table>
    <tr>
        <td>Model</td>
        <td>Description</td>
        <td>Price</td>
        <td></td>
    </tr>

    {% for car in cars %}
    <tr>
        <td style="padding-right: 100px">{{car['model_name']}}</td>
        <td style="padding-right: 100px">{{car['description']}}</td>
        <td style="padding-right: 100px">{{car['price']}}</td>
    </tr>
    {% endfor %}

</table>


{% endblock %}