{% extends "base.html" %}

{% block content %}

<form action="" method="post">

    Qidirish: <input type="text">
    <input type="submit" value="Qidirish">
</form>


<table>
    <tr>
        <td>Model</td>
        <td>Description</td>
        <td>Price</td>
        <td></td>
    </tr>

    {% for car in cars %}
    <tr>
        <td style="padding-right: 100px">{{car['model_name']}}</td>
        <td style="padding-right: 100px">{{car['description']}}</td>
        <td style="padding-right: 100px">{{car['price']}}</td>
<!--        <td> <a href='talaba_show.php?id={{talaba.id}}'>Show</a> </td>-->
<!--        <td> <a href='talaba_edit.php?id={{talaba.id}}'>Edit</a> </td>-->
    </tr>
    {% endfor %}

</table>


{% endblock %}